*.m~

Assignment1/Assignment1.pdf

1BM56-term.zip

Bonus point 1.pdf

Instructions1_matlab.pdf

Slides20150202np-BI.pdf

Slides20150206-BI.pdf

Slides20150209-classification-tree.pdf

Study guide-2014-15-BI.pdf
